.detail_area {
    color: var(--main-text-color);
    display: flex;
    padding: 12px 12px 6px 12px;
    border-bottom: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
    font-size: var(--main-font-size);
}