:root {
    --main-font-size:1.2rem;
    --main-blue-color:#2AA1F2;
    --hover-blue-color:#1a91da;
    --hover-background-blue-color:#2AA1F21A;
    --disabled-blue-color:#86D0F9;
    --main-border-color:#E6ECF0;
    --main-subbackground-color:#F5F8FA;
    --main-text-color:#14171A;
    --main-background-color: #FFFFFF;
}

body {
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    color: var(--main-text-color);
    margin: 0;
    background: var(--main-background-color);
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    margin-left: 4px;
    font-size: 1.5rem;
}

input {
    -webkit-appearance: textfield;
}


