:root {
    --main-font-size:16px;
    --main-blue-color:#2AA1F2;
    --hover-blue-color:#1a91da;
    --hover-background-blue-color:#2AA1F21A;
    --disabled-blue-color:#86D0F9;
    --main-border-color:#E6ECF0;
    --main-subbackground-color:#F5F8FA;
    --main-text-color:#14171A;
    --main-background-color: #FFFFFF;
}


body {
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    color: var(--main-text-color);
    margin: 0;
    background: var(--main-background-color);
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    margin-left: 4px;
    font-size: 20px;
}

input {
    -webkit-appearance: textfield;
}

/* Home */
.pane_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.left_pane {
    min-width: 90px;
    width: 5%;
    text-align: center;
}
.left_pane_items {
    position: sticky;
    top: 0;
    padding: 9px;
}

.center_pane {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 200px;
    width: 70%;
    min-height: 100vh;
}
.center_pane_head {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 50px;
    background: var(--main-background-color);
    z-index: 10;
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
    padding: 4px;
}
.btn_arrow {
    font-size: 20px;
    padding: 8px 12px;
}
.btn_arrow:hover {
    border-radius: 100%;
    background-color: var(--hover-background-blue-color);
}

@media (max-width: 767px) {
    .left_pane {display: none;}
    .center_pane{width: 100%;}
}

@media (max-width:990px) {
    .right_pane {
        display: none;
    }
}
.right_pane {
    text-align: center;
    padding: 15px;
    width:25%;
    max-width: 400px;
    min-width: 100px;

}

/* common */
.left_side {
    margin-right: 8px;
    margin-left: 4px;
    width: 42px;
    flex-basis: auto;
}
.profile_img {
    border-radius: 100%;
    width: 42px;
}

.right_side {
    position: relative;
    margin-top: 0;
    width:calc(100% - 54px);
    overflow: hidden;
}

.username {
    display: inline;
    font-weight: bolder;
    margin-right: 5px;
    font-size: var(--main-font-size);

}

.darkmode {
    font-size: var(--main-font-size);
    margin:10px;
    cursor:pointer;
    padding: 5px;
}
.darkmode:hover {
    border-radius: 100%;
    background-color: var(--hover-background-blue-color);
}

/* Form */
.form_area {
    color: var(--main-text-color);
    display: flex;
    padding: 12px 12px 6px 12px;
    border-bottom: 10px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);

}

.text_area {
    color: var(--main-text-color);
    resize: none;
    border: none;
    outline: none;
    width: 98%;
    font-size: 20px;
    background: var(--main-background-color);
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;


}
.form_img_preview{
    display: flex;
    margin: 5px;
}
.form_img {
    position: relative;
    border-radius: 20px;
    width: 50%;
}
.form_img_cancel {
    position:absolute;
    z-index: 2;
}

input.form_input{
    display: none;
}
.form_bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
}

.btn_album {
    font-size: 20px;
    cursor:pointer;
    padding: 5px;
}
.btn_album:hover {
    border-radius: 100%;
    background-color: var(--hover-background-blue-color);
}
.btn_gif {
    cursor:pointer;
    padding: 5px;
    padding-top:7px;
}
.btn_gif:hover {
    border-radius: 100%;
    background-color: var(--hover-background-blue-color);
}

.btn_post {
    position: absolute;
    display: block;
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 90px;
    color: #FFF;
    transition: .4s;
    background-color: var(--main-blue-color);
    font-weight: bold;
    right: 0px;
}
.btn_post:hover {
    background-color: #1a91da;
}
.btn_post:disabled {
    background-color: var(--disabled-blue-color);
}

.giphy_search_bar {
    margin: 15px 0;
    outline: none;
    width: 100%;
    height: 30px;
    text-align: left;
    border: 1px solid var(--main-border-color);
    border-radius: 20px;
    background: var(--main-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MyList */
.card {
    color: var(--main-text-color);
    display: flex;
    padding: 1%;
    border-bottom: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);

}
.list_time{
    display: inline;
    margin-left:5px;
}
.list_content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 3px 0;
    font-size: var(--main-font-size);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.list_image {
    display: block;
    text-align: center;
    padding:5px;
    position: relative;
    background: var(--main-background-color);
}
.loading_container {
    text-align: center;
}

.loading {
    margin: 10px;
    padding-left: calc(50% - 32px);
}


/* ItemDetail */
.detail_area {
    color: var(--main-text-color);
    display: flex;
    padding: 12px 12px 6px 12px;
    border-bottom: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
}
.detail_content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 3px 0;
    font-size: var(--main-font-size);
    white-space: pre-wrap;

}
.edit {
    height: 34px;
}

.detail_time {
    color: #657786;
    font-size: 14px;
    margin: 3px 0;
}

/* Bottom Bar */
.bottombar {
    display: flex;
}
.btn_edit {
    padding: 6px;
    font-size: 18px;
    display: block;
    border: none;
    outline: none;
    background: none;
    cursor:pointer;
}
.btn_delete {
    padding: 6px 9px;
    font-size: 18px;
    display: block;
    border: none;
    outline: none;
    background: none;
    cursor:pointer;
}
.btn_edit:hover {
    border-radius: 100%;
    background-color: var(--hover-background-blue-color);
}
.btn_delete:hover {
    border-radius: 100%;
    background-color: var(--hover-background-blue-color);
}

/* LeftPane */
.user_info {
    margin-top: 30px;
}

.main_icon {
    width: 40px;
    transition-duration: 2.5s;
    transform: rotateY(0deg);
}
.main_icon.onclick {
    transform: rotateY(1080deg);
}

/* RightPane */
/* News */
.news {
    position: sticky;
    top:70px;
    background: var(--main-subbackground-color);
    border-radius: 20px;
    max-width: 400px;
    min-width: 100px;
    text-align: left;
    padding: 0 13px;
}
.news_head {
    font-weight: bold;
    font-size: 18px;
    padding:9px 0;
}
.news_card {
    width: 100%;
    border-top: 1px solid var(--main-border-color);
    padding:9px 0;
}
a:link, a:visited, a:hover, a:active {
    color:var(--main-text-color);
    text-decoration:none;
}
.news_publishedAt {
    font-size: 11px;
    color: rgb(101, 119, 134);
}

.news_article{
    display: flex;
    width: 100%;
}
.news_title {
    font-size: 13px;
    font-weight: bolder;
    margin-right: 5px;
}

/* search */
.search_bar{
    position: sticky;
    top: 15px;
    outline: none;
    width: 100%;
    height: 38px;
    text-align: left;
    border: 1px solid var(--main-border-color);
    border-radius: 20px;
    background: var(--main-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    color: var(--main-text-color);
    outline: none;
    width: 85%;
    border:none;
    background: none;
}
.search_icon{
    font-size: 20px;
}